{{- if .Site.Params.comments -}}
<script src="https://giscus.app/client.js"
        data-repo="Benjamin-Hornigold/death_of_meaning"
        data-repo-id="R_kgDORYr4Jg"
        data-category="General"
        data-category-id="DIC_kwDORYr4Js4C3L_L"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="gruvbox_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{- end }}
